html {
    font: system;
}

body { 
    margin: 0; 
    background: white; 
    size: *;
}

toolbar { 
    display: block;
    flow: vertical;
    background:#fff;
    prototype: Ribbon url(ribbon.tis);
}

toolbar > .tabs-holder {
    flow: horizontal;
    list-style: none inside;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

toolbar .tabs-holder li,
toolbar .tabs-holder a {
    display: block;
    height: 24px;
    line-height: 24px;
    cursor: default;
}
toolbar .tabs-holder li {
    color: #1d1d1d;
    background: #ffffff;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
toolbar .tabs-holder li:hover {
    border-left-color: #dadbdc;
    border-right-color: #dadbdc;
}

toolbar .tabs-holder a {
    text-decoration: none;
    padding: 0 14px;
    font-size: 12px;
    background: inherit;
    color: inherit;
}
toolbar .tabs-holder .active {
    background: #f5f6f7;
    border: 1px solid #dadbdc;
    border-bottom-color: transparent;
    height: 22dip;
}
toolbar .tabs-holder .static {
    background: #1979ca;
    color: #ffffff;
}

toolbar .content-holder {
    display: block;
    position: relative;
    /* height: 200px; */
    border-top: 1px solid #dadbdc;
}
toolbar .content-holder {
    background: #f5f6f7;
    border-left: none;
    border-right: none;
}
toolbar .content-holder .section {
    display: none;
    padding: 4px 4px;
    border-bottom: 1px solid #dadbdc;
    
}
toolbar .content-holder .section.active {
    flow: horizontal;
    display: block;
}
toolbar .content-holder .group {
    padding: 0 4px 24px;
    flow: horizontal;
    cursor: default;
    background: inherit;
    position: relative;
    align-content: left;
}

toolbar .content-holder .group .title {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 2dip 0;
    width: 100%;
    line-height: 24px;
    height: 20px;
    font-size: 11px;
    text-align: center;
    border-top: 1px solid #dadbdc;
    white-space: nowrap;
}

toolbar .content-holder .group .group-divider {
    display: block;
    position: relative;
    height: 100%;
    margin: 0 4px;
    width: 1px;
    background: #dadbdc;
}

toolbar .content-holder .group > *:not(.title),
toolbar .content-holder .group > *:not(.group-divider) {
    margin: 2px;
}
toolbar .content-holder .group + .group {
    border-left: 1px solid #dadbdc;
}
.ribbon-button,
.ribbon-tool-button,
.ribbon-button-dropdown,
.ribbon-icon-button {
    cursor: default;
    min-width: 0;
    text-align: center;
    border: 1px solid transparent;
    background: #f5f6f7;
    outline: none;
    position: relative;
    border-radius: 0;
}
.ribbon-button {
    height: auto;
    min-height: 64px;
    width: auto;
    padding: 4px;
    margin: 0;
}
.ribbon-button:hover {
    background: red;
}
.ribbon-button .caption,
.ribbon-button .icon {
    display: block;
    text-align: center;
}
.ribbon-button .caption {
    font-size: 12px;
}
.ribbon-button .icon * {
    height: 32px;
    max-width: 32px;
    font-size: 26px;
    line-height: 32px;
}
.ribbon-button .icon + .caption {
    margin-top: 8px;
}


.ribbon-button.dropdown-toggle {
    padding-right: 4px;
}
.ribbon-button.dropdown-toggle::before {
    margin-left: -0.65rem;
}
.ribbon-icon-button {
    height: 24px;
    width: auto;
    margin: 0;
    flow: horizontal;
    padding: 0 4px;
}
.ribbon-icon-button .caption,
.ribbon-icon-button .icon {
    display: block;
}
.ribbon-icon-button .caption {
    font-size: 12px;
}
.ribbon-icon-button .icon {
    flow: horizontal;
}
.ribbon-icon-button .icon * {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
}
.ribbon-icon-button .icon + .caption,
.ribbon-icon-button .caption + .icon {
    margin-left: 4px;
}
.ribbon-tool-button {
    width: 24px;
    height: 24px;
    padding: 0 2px;
    margin: 0;
}
.ribbon-tool-button * {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
}
.ribbon-icon-button.dropdown-toggle,
.ribbon-tool-button.dropdown-toggle {
    padding-right: 2px;
}
.ribbon-icon-button.dropdown-toggle::before,
.ribbon-tool-button.dropdown-toggle::before {
    display: none;
}
.ribbon-icon-button.dropdown-toggle::after,
.ribbon-tool-button.dropdown-toggle::after {
    content: "\25E2";
    display: block;
    position: absolute;
    bottom: 3dip;
    right: 6dip;
    font-size: 10dip;
    width: 0;
    height: 0;
    z-index: 1;
}
.ribbon-icon-button.dropdown-toggle {
    padding-right: 4px;
}
.ribbon-split-button {
    text-align: center;
    border: 1px solid transparent;
    padding: 0;
    margin: 0;
    height: *;
}
.ribbon-split-button .ribbon-split {
    height: 0.5*;
}
.ribbon-split-button .ribbon-main {
    height: 4*;
}

.ribbon-split-button:not([disabled]):hover,
.ribbon-split-button:not(.disabled):hover {
    border-color: #a4cef9;
}
.ribbon-split-button:not([disabled]):hover .ribbon-split,
.ribbon-split-button:not(.disabled):hover .ribbon-split {
    border-color: #a4cef9;
}
.ribbon-split-button .ribbon-main,
.ribbon-split-button .ribbon-split {
    display: block;
    text-align: center;
    min-width: 0;
    padding: 2px 4px;
    width: *;
    cursor: default;
}
.ribbon-split-button .ribbon-main:hover,
.ribbon-split-button .ribbon-split:hover {
    background: rgba(164, 206, 249, 0.2);
}
.ribbon-split-button .ribbon-main {
    background: inherit;
    outline: none;
    position: relative;
    border: none;
}
.ribbon-split-button .icon * {
    height: 32px;
    max-width: 32px;
    font-size: 26px;
    line-height: 32px;
}
.ribbon-split-button .icon + .caption {
    margin-top: 8px;
}
.ribbon-split-button .ribbon-split {
    font-size: 12px;
    border-top: 1px solid transparent;
    padding-bottom: 4px;
}
.ribbon-split-button .ribbon-split.dropdown-toggle {
    padding-right: 4px;
}
.ribbon-split-button .ribbon-split.dropdown-toggle::before {
    display: none;
}
.ribbon-split-button .ribbon-split.dropdown-toggle::after {
    content: "\25BE";
    display: block;
    bottom: 2px;
    border-style: transparent;
    z-index: 1;
    margin-left: *;
    margin-right: *;
    font-size: 10px;
}
.ribbon-dropdown {
    list-style: none;
    /* margin: 0; */
    /* min-width: 80dip; */
    /* position: relative; */
    width: auto;
    /* margin-right: *; */
    display: none;
    position: absolute;
    background: #fbfcfd;
    /* background: #fff; */
    color: #1d1d1d;
    padding: 2px;
    border: 1px solid #dadbdc;
    /* border: 1px solid red; */
    font-size: 12px;
    box-shadow: 2px 2px 2px 0 rgba(227, 228, 229, 0.7);
    z-index: 1000;
    /* top: 100%; */
    margin-top: 2dip;
    /* top:0;  */
    left:0; 
    margin-left: 8dip;
    /* right:0; */
    /* right:0; bottom:0; */
    /* margin-left: auto; */
    /* left: 0; */
}

.ribbon-split-button > .ribbon-dropdown {
    margin-left: 50dip;
}
.ribbon-dropdown li,
.ribbon-dropdown a {
    display: block;
    position: relative;
    background: inherit;
    color: inherit;
    height: 24px;
}
.ribbon-dropdown li {
    border: 1px solid transparent;
    padding-left: 24px;
}
.ribbon-dropdown li:not([disabled]):hover,
.ribbon-dropdown li:not(.disabled):hover {
    border-color: #a4cef9;
    background: rgba(164, 206, 249, 0.2);
}
.ribbon-dropdown a {
    line-height: 24px;
    text-decoration: none;
    padding: 0 8px;
    border-left: 1px solid #dcddde;
    white-space: nowrap;
}
.ribbon-dropdown .divider {
    display: block;
    height: 1px;
    width: *;
    position: relative;
    background: #dcddde;
}
.ribbon-dropdown .checked::before,
.ribbon-dropdown .checked-one::before,
.ribbon-dropdown .checked::after,
.ribbon-dropdown .checked-one::after {
    position: absolute;
    display: block;
    content: "";
}
.ribbon-dropdown .checked::before,
.ribbon-dropdown .checked-one::before {
    background: transparent;
    border-color: #1d1d1d;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 0.325rem;
    width: 0.5rem;
    left: 0.5rem;
    top: 50%;
    z-index: 2;
}
.ribbon-dropdown .checked::after,
.ribbon-dropdown .checked-one::after {
    width: 23px;
    height: 22px;
    top: 0;
    left: 0;
    z-index: 1;
}
.ribbon-dropdown .checked::after {
    border: 1px solid #a4cef9;
    background: rgba(164, 206, 249, 0.2);
}
.ribbon-dropdown .checked-one::before {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background: #1d1d1d;
}
.ribbon-dropdown .ribbon-dropdown {
    top: -4px;
    left: 100%;
}
.ribbon-button.dropdown-toggle::before {
    /* transform: rotate(-90deg); */
    content: "\2304";
    display: block;
    font-size: 40dip;
    position: absolute;
    margin-top: 20dip;
    margin-left: 50dip;
    font-size: 10dip;
    /* height: 0.3125rem;
    width: 0.3125rem; */
    z-index: 1;
}
.ribbon-dropdown .dropdown-toggle.active-toggle::before {
    transform: rotate(45deg);
}
.ribbon-toggle-group {
    background: #f8f8f8;
    flow: vertical-flow;
    height: 72px;
    max-height: 72px;
    border: 1px solid #dadbdc;
    width: *;
}
.ribbon-toggle-group .ribbon-icon-button {
    flow: horizontal;
    height: 20px;
    margin: 1px;
    min-width: 80dip;
    background: inherit;
}

.ribbon-toggle-group .ribbon-icon-button > * {
    height: 18px;
    width: *;   
}

.ribbon-toggle-group .ribbon-icon-button > span:last-child {
    text-align: left;   
}

/* close attention */
.ribbon-button:hover, .ribbon-tool-button:hover {
    border-color: #a4cef9;
    background: rgba(164, 206, 249, 0.2);
}
.ribbon-button:enabled, .ribbon-tool-button:enabled {
    border-color: #a4cef9;
    background: rgba(164, 206, 249, 0.2);
}
.ribbon-button:not(.disabled):hover,
.ribbon-tool-button:not(.disabled):hover,
.ribbon-icon-button:not(.disabled):hover {
    border-color: #a4cef9;
    background: rgba(164, 206, 249, 0.2);
}
.ribbon-split-button .ribbon-split:active,
.ribbon-split-button .ribbon-main:active,
.ribbon-button:active,
.ribbon-tool-button:active,
.ribbon-split:active,
.ribbon-main:active,
.ribbon-icon-button:active,
.ribbon-button.active,
.ribbon-tool-button.active,
.ribbon-split.active,
.ribbon-main.active,
.ribbon-icon-button.active {
    border-color: #1979ca;
    background: rgba(164, 206, 249, 0.8);
}
.ribbon-menu .active-container .ribbon-button,
.ribbon-menu .active-container .ribbon-tool-button,
.ribbon-menu .active-container .ribbon-icon-button {
    border-color: #1979ca;
    background: rgba(164, 206, 249, 0.8);
}

.ribbon-horizontal-toggle .ribbon-icon-button {
    height: 20px;
    margin: 1px;
}
.ribbon-horizontal-toggle .ribbon-icon-button > * {
    height: 18px;
    width: *;   
}

.hide-ribbon-section {
    display: none;
}

statusbar { 
    display:block;
    flow:horizontal;
    background:#f4f4f4; 
}

statusbar > span { 
    padding: 4dip; 
}
statusbar > span:last-child { 
    margin-left:*; 
}